


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}


.brand{
    font-size: 26px;
    font-weight: 600;
}
.main-heading{
    text-align: center;
    font-weight: 500;
    padding: 10px 0;
}
.chicken{
    border: 1px solid #000;
   color: #000;
}
.sub-heading{
    text-align: center;
    font-weight: 300;
    font-size: 25px;
    padding: 5px 0;
}
.nav-link{
    font-weight: 600;
}
ul{
    text-align: center;
}
ul li{
    border: 2px solid #000;
}
ul li:nth-child(2),
ul li:nth-child(3){
    border-top: none;
}
ul li a{
    color: #000;
}


